.area-repo {
    display: none;
    margin-top: 2em;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.area-repo.show {
    display: flex;
}

/* ---------------- CARD DE PROJETO */

.card {
    width: 200px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--cor-azul-escuro);
    margin-bottom: 2em;
}

.repo-name {
    font-size: 13pt;
    font-weight: 600;
    height: 30px;
    color: var(--cor-azul-escuro);
}

.card img {
    width: 200px;
    height: 110px;
    border-radius: 4px;
}

.desc {
    font-size: 12pt;
    font-weight: 400;
    padding-bottom: 8px;
    height: 150px;
    max-height: 150px;
    overflow-y: scroll;
}

.card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.btn-repo,
.btn-visit {
    align-self: center;
    width: 95%;
    text-align: center;
    padding: 6px;
    border: .5px solid var(--cor-azul-escuro);
    text-decoration: none;
    color: var(--cor-azul-escuro);
}

/* -------------------------------- TABLET -------------------------------- */
@media screen and (min-width: 481px) {
    .area-repo {
        justify-content: space-between;
    }

    .card {
        width: 130px;
        margin-bottom: 1em;
    }

    .card img {
        width: 130px;
        height: 90px;
    }
}

/* -------------------------------- NOTEBOOK -------------------------------- */
@media screen and (min-width: 769px) {
    .card {
        width: 170px;
        margin-bottom: 1em;
        gap: 1em;
    }

    .card img {
        width: 170px;
        height: 90px;
    }

    .desc {
        font-size: 12pt;
        height: 140px;
        max-height: 140px;
    }
}